body {
    background-size: cover;
}

#header {
    width: 100%;
}

#footer {
    background-color: cyan;
    color: blue;
    bottom: 0;
    position: fixed;
    width: 100%;
    text-align: center;
}

canvas {
    border: 10px;
    border-radius: 10px;
    border-color: olivedrab;
    box-shadow: 15px 15px 2px orange;
}